<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.3.1/handlebars.min.js" integrity="sha256-2i93NJ4al2OcU9jFNXPMUF2X9xSFRFbTl5X06omT9CM=" crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">ALZ Todo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li id="navTodo" class="nav-item" style="display: none">
        <a  class="nav-link" href="/TodosPage">My Todos</a>
      </li>

      <li class="nav-item">
        <a id="navRegister" class="nav-link" href="/Register">Register</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Future Apps</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Grossary</a>
          <a class="dropdown-item" href="#">Diary</a>
          <a class="dropdown-item" href="#">Lifes tasks</a>
        </div>
      </li>
      <li class="nav-item">
        <a id="navLogin" class="nav-link" href="/Login">Login</a>
      </li>
    </ul>
   <div id="userdiv" style="color: white">
     
   </div>
  </div>
</nav>
    {{{body}}}
    <footer class="container">
  <p>© Company 2017-2019</p>
</footer>
<script>
  $(document).ready(() => {
    let user =  localStorage.getItem("user")
    if(user != "null"){
      debugger;
      user = JSON.parse(user);
      $('#userdiv').html('welcome ' + user.name);
      $('#navLogin').html("Logout")
      $('#navRegister').hide();
      $('#navTodo').show();
    }
  })
</script>
  </body>
</html>
