
<script>

function Handle_Login(e){
    debugger;
    e.preventDefault();
    var inputs  = document.querySelectorAll('.form-signin input');

    var obj = {};
    inputs.forEach(function(elem) {
            if(elem.name) {
                obj[elem.name] = elem.value;
            }
    } );
    postData('/users/login' , obj).then(function(user)  {
        debugger;
        console.log(user);
        localStorage.setItem("user" , user);
        window.location = '/TodosPage';
    })
}

async function postData(url = '', data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return await response.json(); // parses JSON response into native JavaScript objects
}

</script>
<main role="main">


    <div class="container">
        <form method="POST" action="/login" class="form-signin">
            <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required=""
                autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button onclick="return Handle_Login(event);" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="alert alert-danger">

            {{message}}
        </div>
    </div> <!-- /container -->

</main>