
<script>

     $(document).ready(() => {
        localStorage.setItem("user" , null);
    })


function Handle_Login(e){
    debugger;
    e.preventDefault();
 
   
    var obj =  $( ".form-signin" ).serializeObject();

    postData('/users/login' , obj).then(function(user)  {
       $('#message').hide();
       $('#message').html('')
        if(user.login == true) {
            localStorage.setItem("user" , JSON.stringify(user));
            window.location = '/TodosPage'; 
        }else{
            $('#message').html("Login failed ... sorry");
            $('#message').show();
        }
    })
}


</script>
<main role="main">


    <div class="container">
        <form method="POST" action="/login" class="form-signin">
            <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required=""
                autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button onclick="return Handle_Login(event);" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="alert alert-danger" style="display: none" id="message">

            {{message}}
        </div>
    </div> <!-- /container -->

</main>