<main role="main">


    <div class="container">
        <form class="form-signup" action="/register" method="POST">
            <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input onchange="Handle_UserName(event)" type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
                required="" autofocus="">
            <label for="inputName" class="sr-only">Full Name</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="FullName" required="">

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" title="UpperCase, LowerCase and Number" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" name="pass" class="form-control" placeholder="Password"
                required="">
            <label for="inputConfPassword" class="sr-only">Reconfirm Password</label>
            <input type="password" id="inputConfPassword" name="conpass" class="form-control"
                placeholder="Confirm Password" required="">
            <label for="inputGender" class="sr-only">Gender</label>
            <select name="gender" id="inputGender" name="gender"  class="form-control">
                <option>Male</option>
                <option>Female</option>

            </select>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> I Agree
                </label>
            </div>
            <button onclick="Handle_Submit(event)" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        <script>

             var password = document.getElementById("inputPassword")
            , confirm_password = document.getElementById("inputConfPassword");

            function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;

            function Handle_Submit(e){
                var obj =  $( ".form-signup" ).serializeObject();

                var endpoint  = '/users/login' + obj.email + '/' + obj.pass
                postData('/users/' , obj).then(function(user)  {
                    window.location = '/Login';
                })
            }

            
         function Handle_UserName(e){
                var email =  $( "#inputEmail" ).val();

                $.get('/users/' + email , function(data) {
                    if(data.length > 0){
                        alert('hey email already exist try to recover password or use diffrent username');
                        $( "#inputEmail" ).val('').focus();
                    }
                })
            }
        </script>
    </div> <!-- /container -->

</main>